# Week_01: Introduction to Python
**Course:** WMASDS04-Introduction to Data Science with Python

1. Declaring variables
2. Conditional Statements
3. Control flow statements
4. Collections
5. Functions
6. Modules and packages

### First Program in Python

**This is a comment line. This cell is known as markdown cell. 
Your first python program is in the following code cell:**

In [110]:
print('Hellow World')

Hellow World

In [111]:
# #Setting working directory
# import os
# os.getcwd()
# # os.chdir('D:\Summer2023')

Note: A line starting with hash (#) is a comment line in Python.

### 1.1 Variable Declaration

In [112]:
var1 = 2
var2 = 5.0
var3 = True
var4 = "Data Science"
print("Value of var1 :", var1)
print("Value of var2 :", var2)
print("Value of var3 :", var3)
print("Value of var4 :", var4)
type( var1 )
type( var2 )
type(var3)
type(var4)

Value of var1 : 2
Value of var2 : 5.0
Value of var3 : True
Value of var4 : Data Science

str

In [113]:
a = 5
b = 5.5
c = "5.5"
d = 5==5.5

In [114]:
print(type(a),type(b),type(c),type(d))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [115]:
display(type(a),type(b),type(c),type(d))

int

float

str

bool

**Note:** Python supports the following variable types:
1. int – Integer type.
2. float – Floating point numbers.
3. bool – Booleans are subtypes of integers and assigned value using literals True and False.
4. str – Textual data.

### 1.2 Conditional Statements

In [116]:
# Checking a condition if the variable value is more than 1
if var1 > 1:
    print( "Bigger than 1" )

Bigger than 1

In [117]:
x = 10
y = 12
# if x is greater than y
if x > y:
    print ("x > y")
# if x is lesser than y
elif x < y:
    print ("x < y")
else:
    print ("x = y")

x < y

In [118]:
# Initialize
x = 5
# Assign True if x is more than 10 or assign False using ternary operator
isGreater = True if x > 10 else False
isGreater

False

Note:
- Python supports if-elif-else for writing conditional statements.
- The condition should be terminated by : (colon) and the code block following that must be indented.
- Indentation in Python is not optional. It is a syntax of Python. 
- The conditional statement need not be enclosed with a bracket.

### 1.3 Generating Sequence Numbers

In [119]:
# Initializing the sequence of numbers starting from 1
# and ending (not including) with 6
numbers = range( 1, 6 )
numbers

range(1, 6)

In [120]:
range?

In [121]:
list?
len?
type?

Note:
range() function generates a sequence of numbers. It takes the following three parameters.
1. start: Starting number of the sequence.
2. stop: Generate numbers up to, but not including, this number.
3. step: Difference between each number in the sequence. It is optional and default value is 1.

### 1.4 Control Flow Statements

In [122]:
# Iterate through the collection
for i in numbers:
    print (i)

1
2
3
4
5

In [123]:
# Initialize the value of 1
i = 1
# check the value of i to check if the loop will be continued or not
while i < 5: 
    print(i)
# Increment the value of i.
    i = i+1
# print after the value of i
print('Done')

1
2
3
4
Done

Note: A while loop is used to keep executing a loop until a condition is false. In while loop, the state of i has to be managed explicitly. There is a good chance of going into an infinite loop if the state of i is not incremented.

### 1.5 Functions

In [124]:
def addElements( a, b ):
    return a + b

In [125]:
result = addElements( 2, 3 )
result

5

In [126]:
result = addElements( 2.3, 4.5 )
result

6.8

In [127]:
result = addElements( "python", "workshop" )
result

'pythonworkshop'

In [128]:
def addElements( a, b = 4 ):
    return a + b

In [129]:
addElements( 2 )

6

In [130]:
addElements( 2, 5 )

7

**Note:** 
Functions are the most important part of a language.
1. Functions can be created using def keyword.
2. The function signature should contain the function name followed by the input parameters enclosed in brackets and must end with a colon (:).
3. Parameters are optional if initialized in the definition. The code block inside the method should be indented.
4. The function ends with a return statement. No return statement implies the function returns None

### 1.6 Working with Collections

We will discuss the following collections in this section:
1. List
2. Tuple
3. Set
4. Dictionary

#### 1.6.1 List

In [131]:
## Create an empty list
emptyList = []
list1 = [1,3,5,7,9,'Data Science']
list1[0]

1

In [132]:
## Slicing an list
list1[0:2]

[1, 3]

In [133]:
## Accessing the last element
list1[-1]

'Data Science'

In [134]:
# how many elements in the list
len( list1 )

6

In [135]:
list2 = [0,2,4,6,8,'Python', True]
all_list = list1 + list2
all_list

[1, 3, 5, 7, 9, 'Data Science', 0, 2, 4, 6, 8, 'Python', True]

In [136]:
#Finding if an item exists in a list or not
'Python' in list1

False

In [137]:
'Data Science' in list1

True

In [138]:
#Finding the index of an item in the list.
all_list.index( 'Python' )

11

In [139]:
# arranged in reverse order
all_list.reverse()
all_list

[True, 'Python', 8, 6, 4, 2, 0, 'Data Science', 9, 7, 5, 3, 1]

In [140]:
# to change an element
list2[0]='000'
list2

['000', 2, 4, 6, 8, 'Python', True]

In [141]:
# to remove an element
del(list1[0])
list1

[3, 5, 7, 9, 'Data Science']

In [142]:
# multiply elements
list2*3

['000',
 2,
 4,
 6,
 8,
 'Python',
 True,
 '000',
 2,
 4,
 6,
 8,
 'Python',
 True,
 '000',
 2,
 4,
 6,
 8,
 'Python',
 True]

Notes:
- Lists are like arrays,
- It can contain heterogeneous items, (integer, float, string, or objects). 
- It allows duplicate items.
- Lists are mutable
- items of an list are ordered (indexed)
- initialized with a list of values specified inside square brackets or an empty list.

#### 1.6.2 Tuples

In [143]:
t1 = ('Data Science', 2022)
t1

('Data Science', 2022)

In [144]:
t1[1]
t1[1] = '2023'

TypeError: 'tuple' object does not support item assignment

In [145]:
t1.index(2022)

1

In [ ]:
# type conversion from list to tuple
t2 = tuple(list1)
print(t2)

Tuple is also a list, but it is immutable. Once a tuple has been created it cannot be modified.

#### 1.6.3 Set

In [146]:
set1 = {6,1,1,2,4,5}
set1

{1, 2, 4, 5, 6}

In [147]:
set2 = {0, 2,4,6,8}

set1.union( set2 )
set1.intersection( set2 )
set1.difference( set2 )

{1, 5}

Notes: A set is a collection of unique elements, that is, the values cannot repeat. A set can be initialized with a list of items enclosed with curly brackets. The set automatically removes duplicates and contains only unique list of numbers.

#### 1.6.4 Dictionary

In [148]:
wcWinners = {1975: "West Indies", 
             1979: "West Indies", 
             1983: "India", 
             1987: "Australia", 
             1991: "Pakistan", 
             1996: "Srilanka", 
             1999: "Australia", 
             2003: "Australia", 
             2007: "Australia", 
             2011: "India"}

In [149]:
wcWinners[1983]

'India'

In [150]:
wcWinners.values()

dict_values(['West Indies', 'West Indies', 'India', 'Australia', 'Pakistan', 'Srilanka', 'Australia', 'Australia', 'Australia', 'India'])

In [151]:
#To find unique list of values
set(wcWinners.values())

{'Australia', 'India', 'Pakistan', 'Srilanka', 'West Indies'}

In [152]:
#To adding a new key-value pair to the dictionary
wcWinners[2015] = 'Australia'
wcWinners

{1975: 'West Indies',
 1979: 'West Indies',
 1983: 'India',
 1987: 'Australia',
 1991: 'Pakistan',
 1996: 'Srilanka',
 1999: 'Australia',
 2003: 'Australia',
 2007: 'Australia',
 2011: 'India',
 2015: 'Australia'}

In [153]:
wcWinners.keys()

dict_keys([1975, 1979, 1983, 1987, 1991, 1996, 1999, 2003, 2007, 2011, 2015])

Dictionary is a list of key and value pairs. All the keys in a dictionary are unique. The value of a specific dictionary element can be accessed by key.

### 1.7 Dealing with Strings

In [154]:
string0 = 'python'
string1 = "machine learning"
string2 = """This is a multiline string"""
# Converting to upper case
string0.upper()

'PYTHON'

In [155]:
# Similarly string.lower() can be used to convert to lower case.
string0.lower()

'python'

In [156]:
tokens = string1.split(' ')
tokens

['machine', 'learning']

### 1.7.8 Functional Programming

####  Map

In [157]:
intList = [1,2,3,4,5,6,7,8,9]
# Create an empty list.
squareList = []
# Loop through the intList, square every item and append to result list squareList.
for x in intList: 
    squareList.append( pow( x, 2 ) )
print( squareList )

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [158]:
def square_me( x ):
    return x * x
squareList = map( square_me, intList)
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [159]:
squareList = map(lambda x: x*x, intList)
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Example 2: Filter

In [165]:
evenInts = filter( lambda x : x % 2 == 0, intList )
list( evenInts )

[2, 4, 6, 8]

### 1.9 Modules and Packages

In [166]:
import math
## Taking square root of a value
math.sqrt(16)

4.0

In [167]:
from random import sample

In [168]:
sample( range(0, 11), 3)

[7, 4, 10]

**Note:** 
- In Python, a module is a file that consists of functions, classes, and variables. 
- A set of modules under a namespace (mostly a directory) is called a package. 
- The modules and packages can be imported to another module using import statement. 
- For example, to use mathematical functions, Python’s math module can be imported.

### 1.10 Other Features

In [169]:
import random
randomList = random.sample( range(0, 100), 20)
randomList

[30, 75, 32, 88, 66, 89, 33, 85, 52, 97, 86, 57, 98, 81, 44, 94, 80, 73, 5, 71]

In [170]:
from statistics import mean, median
def getMeanAndMedian( listNum ): 
    return mean(listNum), median(listNum)

In [171]:
mean, median = getMeanAndMedian( randomList )
print( "Mean: ", mean, " Median: ", median)

Mean:  66.8  Median:  74.0

### Input from user

In [172]:
data = input('Enter a text =')

Enter a text =123

In [173]:
data

'123'

## Guess the Number!

In [174]:
# guess the number until you get it right
import random
target_num = random.randint(1, 9)
guess_num =  0
print('Target = ',target_num)
print('Guess a number between 1 and 9 until you get it right')
while target_num != guess_num:
    guess_num = int(input('Guess: '))
print('\nWell guessed!')

Target =  5
Guess a number between 1 and 9 until you get it right
Guess: 5

Well guessed!

In [175]:
# Guess the number in fixed number of try
import random
    
target_num=random.randint(1,9)
print ('Target Number is = ',target_num)
print ('Guess a number between 1 to 9\n\n')
count = 1
while count<=3:
    guess_num = int(input('Your guess-'))
    if guess_num == target_num: print('Congratulation!!! You won the game!'); break
    elif guess_num<target_num: print('\nToo small! Try again!')
    elif guess_num>target_num: print('\nToo large! Try again!')
    count+=1
if count>3: print('\nSorry, You lost! Better luck next time!')

Target Number is =  2
Guess a number between 1 to 9


Your guess-3

Too large! Try again!
Your guess-2
Congratulation!!! You won the game!

In [176]:
# Write a function that allows you to guess the integer within the given range by fixed number of try
def guess_the_number(a,b):
    import random
    import math
    target_num=random.randint(a,b)
    print ('Target Number is', target_num)
    print ('Guess a number between', a, 'and',b,'\n')
    count = 1
    try_limit = int(math.log(b-a+1,2))
    print('You can try',try_limit-count+1,' times:')
    while count<=try_limit:
        guess_num = int(input('Your guess is :'))
        if guess_num == target_num: print('Congratulation!!! You won the game!'); break
        elif guess_num<target_num: print('Too small!\n')
        elif guess_num>target_num: print('Too large!\n')
        count+=1
        print('You can try',try_limit-count+1,' times:')
        
    if count>try_limit: print('Sorry, You lost! Better luck next time!') 

guess_the_number(1,20)

Target Number is 15
Guess a number between 1 and 20

You can try 4  times:
Your guess is :2
Too small!

You can try 3  times:
Your guess is :15
Congratulation!!! You won the game!

# Python: Variables

####  a) Use input( ) function to accept numbers from user as a value of a variable x.

In [178]:
x=input("Enter a value : ")

Enter a value : 4

#### b) Check the data type using type( ) function.

In [179]:
type(x)

str

#### c) Also convert the data type to integer and assign to the variable y.

In [180]:
y=int(x)

#### d) Convert the data type into float and assign to the variable z .

In [181]:
z=float(y)

#### e) display the data type of x, y, and z

In [182]:
print ('x = ',x,'y = ',y,'z = ',z)

x =  4 y =  4 z =  4.0

# Strings in Python

#### a) Write a Python program to calculate the length of a string.

In [183]:
str='Hello world'
len_str=len(str)
len_str

11

#### b) Write a Python program to count the number of characters in a string.

In [184]:
# counting charecters including spaces
count_with_space=len_str
# counting charecters without spaces
remove_space=str.replace(" ","")
count_without_space=len(remove_space)

print('Count-including spaces: ',count_with_space)
print('Count- without spaces: ',count_without_space)

Count-including spaces:  11
Count- without spaces:  10

#### c) Write a Python program to remove the kth index character from a string.

In [185]:
# Input string
input_str = "Data Science"

# Index of the character to remove (0-based index)
k = int(input('Index = '))

# Check if k is a valid index
if k >= 0 and k < len(input_str):
    # Convert the string to a list of characters
    str_list = list(input_str)
    
    # Remove the character at index k
    str_list.pop(k)
    
    # Join the list back into a string
    new_string = ''.join(str_list)
    
    print("Original string:", input_str)
    print("String after removing character at index", k, ":", new_string)
else:
    print("Invalid index. Please provide a valid index.")

Index = 5
Original string: Data Science
String after removing character at index 5 : Data cience

#### d) Write a Python program to remove the characters which have odd index values of a given string.

In [186]:
# Input string
input_str = "Welcome to the New Class"
# Initialize an empty string to store the result
new_str=''

for index in range(len(input_str)):
     if index%2==0:
        new_str+=input_str[index]
    
print("Original string:", input_str)
print("New string:", new_str)

Original string: Welcome to the New Class
New string: Wloet h e ls

#### e) Write a Python script that takes input from the user and displays that input back in upper and lower cases.

In [187]:
# string
my_str='Python is Fun'
# print in uppercase
print(my_str.upper())

# print in lower
print(my_str.lower())

PYTHON IS FUN
python is fun

#### f) Write a Python program to sort a string

In [188]:
# string
my_str='Python'

# converting the uppercase letter to lowercase while sorting
sorted_string1 = ''.join(sorted(my_str.lower()))

# Sort the string while preserving spaces and capitalization
sorted_string2 = ''.join(sorted(my_str, key=lambda x: (x.lower(), x.islower())))


# Display the sorted string
print('Original String : ', my_str)
print("Sorted string:", sorted_string1)
print("Sorted string (preserving upper/lowercases):", sorted_string2)

Original String :  Python
Sorted string: hnopty
Sorted string (preserving upper/lowercases): hnoPty

#### g) Write a Python program to reverse a string.

In [189]:
# string
my_str="Anaconda"
# empty string to store the reserve value
reverse_string=""

#iterates through the string and stacks the i in the reverse_string
for i in my_str:
    reverse_string=i+reverse_string

print('String : ',my_str)
print('Reverse String : ',reverse_string)

String :  Anaconda
Reverse String :  adnocanA

#### h) Write a Python program to convert a given string into a list.

In [190]:
# string
my_str="Anaconda"
# Convert to a list

list_str=list(my_str)

print('String : "',my_str,'" to a list :',list_str)

String : " Anaconda " to a list : ['A', 'n', 'a', 'c', 'o', 'n', 'd', 'a']

# Python: Lists

#### a) Write a Python program to sum (or product) all the items in a list

In [191]:
def list_sum(my_list):
    # initializing 
    sum=0 
    for item in  my_list:
        sum=sum+item
    return sum

def list_product(my_list):
    if len(my_list) == 0:
        return None  # Return None for an empty list
    
    # initializing 
    product = 1
    for item in my_list:
        product *= item
    return product

my_list=[1,2,4,6]
print('Sum =', list_sum(my_list))
print('Product =',list_product(my_list))

Sum = 13
Product = 48

#### b) Write a Python program to get the largest/smallest number from a list

In [192]:
# List
my_list = [5, 2, 9, 1, 7, 3]
#checking if the list is empty
if len(my_list) == 0:
        print("The list is empty")
largest=max(my_list) # Finding the largest number
smallest=min(my_list)# Finding the smallest number

print("The largest number is :",largest)
print("The smallest number is :",smallest)

The largest number is : 9
The smallest number is : 1

#### c) Write a Python program to print the numbers of a specified list after removing even numbers from it

In [193]:
# function to remove even numbers from a list
def list_remove(my_list):
    # iterating through the list to access each number
    for i in my_list:
        #checking if the number is even
        if i%2==0:
            #removing the checked number
            my_list.remove(i)
    return my_list
# List
my_list = [5, 2, 9, 1, 7, 10,3,14,23,44]
# printing the original list
print('Original list :', my_list)
# printing the numbers of a specified list after removing even numbers from it
print('New list : ',list_remove(my_list))

Original list : [5, 2, 9, 1, 7, 10, 3, 14, 23, 44]
New list :  [5, 9, 1, 7, 3, 23]

#### d) Write a Python program to select the odd number of a list

In [194]:
# List
my_list = [5, 2, 9, 1, 7, 10,3,14,23,44]
# Use list comprehension to select odd numbers
odd_numbers = [x for x in my_list if x % 2 != 0]

#OR
# empty list 
odd_numbers2=[]
for i in my_list:
    #checking if the number is odd
    if i%2!=0:
        odd_numbers2.append(i) # added the odd numbers to the new list 

print ('Odd number :',odd_numbers)

Odd number : [5, 9, 1, 7, 3, 23]

#### e) Write a Python program to convert a list of characters into a string

In [195]:
# List of charecter
list_chr=['P','y','t','h','o', 'n']
list_to_str=''.join(list_chr)
list_to_str

'Python'

#### f) Write a Python program to find the index of an item in a specified list

In [198]:
my_list = [5, 2, 9, 1, 7, 10, 3 , 14 , 23 ,44]
# taking item as input to find the index
item_to_find=int(input("Item to find :"))

try:
   index_n=my_list.index(item_to_find) # finding the index
   print('The index of',item_to_find,'is =',index_n)

# Error message if the item is not in the list
except ValueError:
    print('The number',item_to_find, 'is not in the list')

Item to find :1
The index of 1 is = 3

#### g) Write a Python program to add a list to the second list

In [199]:
list1 = [5, 2, 9, 1, 7]
list2=[10, 3 , 14 , 23 ,44]

#combining list using operators
add_lists=list1+list2
print("Combined list : ",add_lists)
#OR
#combining list using extend function
list1.extend(list2)

print("Combined list : ",list1)

Combined list :  [5, 2, 9, 1, 7, 10, 3, 14, 23, 44]
Combined list :  [5, 2, 9, 1, 7, 10, 3, 14, 23, 44]

#### h) Write a Python program to get unique values from a list and to count unique values inside a list. Also get the frequency of the elements in the list.

In [200]:
# Sample list
my_list = [1, 1, 1, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4,4,4,4]

# Converting list to set for unique values then again to list
unique_values = list(set(my_list))
# Display unique values
print("Unique values:", unique_values)

# empty dictionary to store the frequency
frequency_dict={}
# counting frequency
for element in my_list:
    if element in frequency_dict:
        frequency_dict[element]+=1
    else:
        frequency_dict[element]=1
# Display frequency of each unique value
for value in unique_values:
    count=frequency_dict[value]
    print(f"{value}: {count}")

Unique values: [1, 2, 3, 4]
1: 3
2: 2
3: 4
4: 7

#### i) Write a Python Program to Extract elements with Frequency greater than K

In [201]:
def extract_elements(input_list, k):
    # Create a dictionary to store the frequency of elements
    element_frequency = {}

    # Count the frequency of each element in the input list
    for element in input_list:
        if element in element_frequency:
            element_frequency[element] += 1
        else:
            element_frequency[element] = 1

    # Extract elements with frequency greater than k
    result = [element for element, frequency in element_frequency.items() if frequency > k]

    return result

# Sample input list
my_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

# Set the value of K
k = 2

# Call the function to extract elements with frequency greater than K
result_list = extract_elements(my_list, k)

# Display the result
print(f"Elements with frequency greater than {k}: {result_list}")

Elements with frequency greater than 2: [3, 4]

#### j) Write a Python program to reverse All Strings in String List

In [202]:
#Function to reverse string in a string list
def reverse_str_list(str_list):   
    # # empty list to store the reverse strings
    reverse_str_list=[]
    #reversing each string element in the list
    for string in str_list:
        reverse_str=''
        for char in string:
            reverse_str=char+reverse_str
        reverse_str_list.append(reverse_str)
    return reverse_str_list

str_list=["tea", "coffee", "tan", 'ant']   
print('Original list ',str_list)
print('Reverse List:', reverse_str_list(str_list))

Original list  ['tea', 'coffee', 'tan', 'ant']
Reverse List: ['aet', 'eeffoc', 'nat', 'tna']

# Python : Dictionary

#### a) Write a Python script to create a dictionary 
* (i) Create a dictionary named fruit with keys: (names, color, taste). add Mango and Lemon as the value of key- names, yellow and green as the value of color, sweet and sour as the value of taste. 
* (ii) display the dictionary. 
* (iii) add a new value, Apple in the names

In [203]:
# (i) Creating Dictionary
fruit={'Names':['Mango','Lemon'],
       'color':['yellow','green'],
       'taste':['sweet','sour']  }
#(ii) displaying the dictionary
print ('Dictionary :',fruit)

# (iii) add a new value, Apple in the names
fruit['Names'].append('Apple')

print ('Dictionary after adding Apple :',fruit)

Dictionary : {'Names': ['Mango', 'Lemon'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}
Dictionary after adding Apple : {'Names': ['Mango', 'Lemon', 'Apple'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}

#### b) Write a Python program to add a key to a dictionary

In [204]:
# Dictionary
dict={'Name':'Abc',
      'Age': 25,
      'Gender':'Female'
     }     
print ('Original Dictionary', dict)

# add a key to a dictionary
dict['Country']='Canada'
print ('After adding key, Dictionary', dict)

Original Dictionary {'Name': 'Abc', 'Age': 25, 'Gender': 'Female'}
After adding key, Dictionary {'Name': 'Abc', 'Age': 25, 'Gender': 'Female', 'Country': 'Canada'}

#### c) Write a Python program to check whether a given key already exists in a dictionary.

In [205]:
# using the previous dictionary
dict
# key to search in the dictionary
key='Country'
#check whether a given key already exists in a dictionary
if key in dict:
    print(key, " is in the dictionary")
else:
    print(key,'is not in the dictionary')

Country  is in the dictionary

#### d) Access dictionary key’s element by index.

In [206]:
# using the previous dictionary
dict
index=3
try:
    print(list(dict)[index])
# if the index is out of dictionary it will through exception error
except ValueError: 
    print("Out of index")

Country

#### e) Write a Python program to iterate over dictionaries using for loops.

In [207]:
# using the previous dictionary
dict
#for accessing only keys
for key in dict.keys():
    print(key)
#for accessing only values    
for value in dict.values():
    print(value)
    
#for accessing keys and values
for key,value in dict.items():
    print(key,' : ',value)

Name
Age
Gender
Country
Abc
25
Female
Canada
Name  :  Abc
Age  :  25
Gender  :  Female
Country  :  Canada

#### f) Write a Python script to print a dictionary where the keys are numbers between 1 and n (both included) and the values are square of keys.

In [208]:
# empty dictionary to store keys and values
my_dict={}
n=5
for key in range(1,n):
   my_dict[key]=key**2 # values are square of key
print(my_dict)

{1: 1, 2: 4, 3: 9, 4: 16}

#### g) Create a dictionary by extracting the keys from a given dictionary

In [209]:
# Given dictionary
dict={'Key 1' :1,
      'Key 2' :2,
      'Key 3' :3,
      'Key 4' :4,
      'Key 5' :5,
       }
new_dict={}
#extracting key
for key in dict.keys():
    new_dict[key]=None
print("Dictionary from keys :", new_dict)

Dictionary from keys : {'Key 1': None, 'Key 2': None, 'Key 3': None, 'Key 4': None, 'Key 5': None}

#### h) Write a Python program to Rename key of a dictionary

In [210]:
# Given dictionary
dict={'old_key' :1,
      'Key 2' :2,
      'Key 3' :3,
      'Key 4' :4,
      'Key 5' :5,
       }
print('Original dictionary', dict)
dict['New_key']=dict.pop('old_key')
print('Dictionary with new Key', dict)

Original dictionary {'old_key': 1, 'Key 2': 2, 'Key 3': 3, 'Key 4': 4, 'Key 5': 5}
Dictionary with new Key {'Key 2': 2, 'Key 3': 3, 'Key 4': 4, 'Key 5': 5, 'New_key': 1}

#### i) Write a program to print only keys of a dictionary

In [211]:
# dictionary
dict={'Key 1' :1,
      'Key 2' :2,
      'Key 3' :3,
      'Key 4' :4,
      'Key 5' :5,
       }
print(dict.keys())

dict_keys(['Key 1', 'Key 2', 'Key 3', 'Key 4', 'Key 5'])

#### j) Write a program to print values of dictionary.

In [212]:
print(dict.values())

dict_values([1, 2, 3, 4, 5])

# Python: Loops

#### a) Print First 10 natural numbers using while loop

In [213]:
# Initialize a variable to store the current number
number = 1

# Use a while loop to print the first 10 natural numbers
while number <= 10:
    print(number)
    number += 1

1
2
3
4
5
6
7
8
9
10

#### b) Write a program to print multiplication table of a given number

In [214]:
# Given number
num=8
for i in range(1,11):
    print (num,' X ',i,' = ', num*i)

8  X  1  =  8
8  X  2  =  16
8  X  3  =  24
8  X  4  =  32
8  X  5  =  40
8  X  6  =  48
8  X  7  =  56
8  X  8  =  64
8  X  9  =  72
8  X  10  =  80

#### c) Display numbers from a list using loop

In [215]:
# list of numbers
numbers = [1, 2, 3, 4, 5]

# for loop to display each number
for number in numbers:
    print(number)

1
2
3
4
5

#### d) Print list in reverse order using a loop

In [216]:
# list of numbers
numbers = [1, 2, 3, 4, 5]
# for loop to display each number
for number in reversed(numbers):
    print(number)

5
4
3
2
1

#### e) Display numbers from -10 to -1 using for loop

In [217]:
for i in range(-10,0):
    print (i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

#### f) Find the factorial of a given number

In [218]:
# number
num=5
# initializing factorial
fact=1
for i in range(1,num+1):
    fact=fact*i 
fact

120

#### g) Use a loop to display elements from a given list present at odd index positions

In [219]:
# list 
m_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Get the length of the list
n = len(m_list)

# Use a while loop to display elements at odd index positions
i = 1
for i in range(1, len(m_list), 2):
    print(m_list[i])

2
4
6
8

#### h) Calculate the cube of all numbers from 1 to a given number
Python: User-defined Functions

In [220]:
num=5
# initializing factorial
for i in range(1,num+1):
    cube=i**3
    print (cube)

1
8
27
64
125

#### a) write a python program to create a function that will return a list of the unique digits in your class ID.

In [221]:
def unique_digit(class_id):
    unique_digits = []  # empty list to store unique digits
    
    for char in class_id:
        if char.isdigit() and char not in unique_digits:
            unique_digits.append(char)  
    
    return unique_digits

# class ID
class_id = 'WM-ASDS04'

# Display the list of unique digits
print("Unique digits in the class ID:", unique_digit(class_id))

Unique digits in the class ID: ['0', '4']